.slick-prev:before,
.slick-next:before {
  display: none;
}
.custom-prev-arrow.slick-arrow.slick-prev {
  background: #4a60a1;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  top: 110%;
  left: 46%;
}

.custom-next-arrow.slick-arrow.slick-next {
  background: #4a60a1;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  top: 110%;
  right: 46%;
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .custom-prev-arrow.slick-arrow.slick-prev {
    top: 110%;
    left: 34vw;
  }
  .custom-next-arrow.slick-arrow.slick-next {
    top: 110%;
    right: 34vw;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-prev-arrow.slick-arrow.slick-prev {
    top: 110%;
    left: 34%;
  }
  .custom-next-arrow.slick-arrow.slick-next {
    top: 110%;
    right: 34%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-prev-arrow.slick-arrow.slick-prev {
    top: 110%;
    left: 44%;
  }
  .custom-next-arrow.slick-arrow.slick-next {
    top: 110%;
    right: 44%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom-prev-arrow.slick-arrow.slick-prev {
    top: 110%;
    left: 45%;
  }
  .custom-next-arrow.slick-arrow.slick-next {
    top: 110%;
    right: 45%;
  }
}
